@import "./variables";
@import "mixins";

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background: var(--primary-color);
  background: orange;
  color: var(--text-dark-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

// reset

button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
  outline: unset;
}

a {
  color: unset;
  text-decoration: unset;
  @include link();
}

input,
textarea {
  color: unset;
  background: unset;
  font: unset;
  border: unset;
}
